<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<body>
<%- include('partials/header')%>
<div class="userMancha">
    <img src="/images/manchas/pngwing.com (5).png" alt="">
</div>
    <main class="usersForm-container">
        <h3 class="userTitle">Bienvenid@ USER-NAME </h3>
        <div class="avatar">
            <img src="/images/default-image.png" alt="">
        </div>
        <form action="" class="form-ad">
            <div class="profile-box_1">
               
            </div>
            <div class="profile-box_2">

            </div>
            <div class="form-ad-input">
                <input type="text" name="name" placeholder="Nombre">
                <small class="text-danger">Ingresa tu nombre</small>
            </div>
         
            <button class="btn-ad btn-ad-primary">
                REGISTRATE
            </button>
            <a href="/users/login" class="userLink">Ya tengo cuenta</a>
        </form>
    </main>
<%- include('partials/footer')%>
</body>
</html>